body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #00002b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

.card {
    background-color: #1a1a2e;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    border: 1px solid #333;
    color: white;
}

input {
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid #333;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #3e51ff;
    color: white;
    border: black solid 1px;
    border-radius: 10px;
    margin: 1rem;
}
